.overview-amounts {
    .overview-amounts__label {
        font-size: rem(14);
    }
    .overview-amounts__hero-value {
        color: #32798D;
        font-size: rem(48);
        line-height: rem(60);
    }

    .overview-amounts__value {
        color: #32798D;
        font-size: rem(20);
        line-height: rem(25);
    }
    .overview-amounts__average {
        margin-top: rem(30);
    }
}