@include font-face(
    'Source Sans Pro',
    '#{$fonts-path}/sourcesanspro-light-webfont',
    300,
    normal,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
    );

@include font-face(
    'Source Sans Pro',
    '#{$fonts-path}/sourcesanspro-regular-webfont',
    400,
    normal,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
);

@include font-face(
    'Source Sans Pro',
    '#{$fonts-path}/sourcesanspro-italic-webfont',
    400,
    italic,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
);

@include font-face(
    'Source Sans Pro',
    '#{$fonts-path}/sourcesanspro-semibold-webfont',
    600,
    normal,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
);

@include font-face(
    'Source Sans Pro',
    '#{$fonts-path}/sourcesanspro-bold-webfont',
    700,
    normal,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
);

@include font-face(
    'Merriweather',
    '#{$fonts-path}/merriweather-light-webfont',
    300,
    normal,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
);

@include font-face(
    'Merriweather',
    '#{$fonts-path}/merriweather-regular-webfont',
    400,
    normal,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
);

@include font-face(
    'Merriweather',
    '#{$fonts-path}/merriweather-italic-webfont',
    400,
    italic,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
);

@include font-face(
    'Merriweather',
    '#{$fonts-path}/merriweather-bold-webfont',
    700,
    normal,
    $asset-pipeline: false,
    $file-formats: eot woff2 woff ttf
);
