@import '../src/_scss/all.scss';
@import 'src/_scss/pages/awardV2/shared/_infoTooltip.scss';
#root {
    height: 100vh;
    border: 1px solid red;
    .tooltip-story__container {
        width: 20px;
        border: 1px solid red;
        margin-top: 15px;
    }
}